<!DOCTYPE html>
<html>
<head>
  <title>Blogy</title>
  <%= stylesheet_link_tag    "blogy/application", media: "all" %>
  <%= javascript_include_tag "blogy/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
